@model SisConTrad.Core.Model.Project

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentMode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentMode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Receipt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receipt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalTranslationsValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalTranslationsValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
